.title {
    font-size: 50px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: chocolate;
}

#links {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pictures {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h2 {
    text-align: center;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

.ingList {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.stepList {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

.returnHome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: blueviolet;
}